<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.realm.examples.encryptionexample">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Realm Encryption Example"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EncryptionExampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Realm Encryption Example">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
