*~
/test_output
*.bat
*.class
*.orig
tightdb_jni??d*.dll
tightdb_jni*.exp

/examples/*/*/generated/*
/examples/*/generated/*
/examples/lib/libtightdb-jni.so
/examples/lib/libtightdb-jni.jnilib
/examples/lib/libtightdb.so
/examples/lib/libtightdb.dylib
/examples/lib/tightdb-devkit.jar
/examples/lib/tightdb.jar

*.tightdb
.metadata/*

*.sdf
*.opensdf
*.ipch
/bin

.classpath
.project
.factorypath
target

*/.classpath
*/.project
*/.factorypath

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*/target
.settings/*
*/.settings/*
*.tdb
*/test-output
