                <a href="#" name="${class}-${name}" id="${class}-${name}"></a>
				<a href="#" class="section section_major" name="${class}-${name}_anchor" id="${class}-${name}_anchor"></a>
				<h4>${name}</h4>
                <p><div class="eks">
                <pre class="prettyprint" lang-cpp style="font-size: 16px"><i>${ret}</i> <b>${name}</b>(#foreach($p in $params)<i>${p.type}</i> ${p.name}#if($foreach.hasNext), #end#end)</pre>
                </div>
                </p>
                <dl><dd>
                	<p>
                	${doc}. 
                	</p>

#if($params.size() > 0)
                	<dl>
                		<dt><b>Parameters:</b></dt>
#foreach($p in $params)
                		<dd><p>
	                    <code>${p.name} : ${p.type}</code>
	                    </p></dd>
#end						
                	</dl>
#end
                    <dl>
                		<dt><b>Returns:</b></dt>
                		<dd><p><code><i>${ret}</i></code></p></dd>
                	</dl>
                	<dl>
                		<dt><b>Example:</b></dt>
                		<dd><p>
							<pre class="prettyprint" lang-java>
${example}
							</pre>
                        </p></dd>
                	</dl>
                </dd></dl>

