<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.realm">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22" />

    <application>
        <uses-library android:name="android.test.runner" />
        <service
            android:name=".services.RemoteProcessService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" >
        </service>
    </application>

</manifest>
