#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_usrlocal:

clean:
	dh_testdir
	dh_clean
	sh build.sh clean

build: clean
	sh build.sh config /usr
	sh build.sh build


tightdb-java: build
	DESTDIR=$$(pwd)/debian/tightdb-java sh build.sh install PROD
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installchangelogs -p$@ -a
	dh_strip -p$@ .a
	dh_compress -p$@ -s
	dh_fixperms -p$@ -a
	dh_installdeb -p$@ -a
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -p$@ -a
	dh_gencontrol -p$@ -a
	dh_md5sums -p$@ -a
	dh_builddeb -p$@ -a
	dh_installdirs

tightdb-java-dev: build
	DESTDIR=$$(pwd)/debian/tightdb-java-dev sh build.sh install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installchangelogs -p$@ -a
	dh_strip -p$@ .a
	dh_compress -p$@ -s
	dh_fixperms -p$@ -a
	dh_installdeb -p$@ -a
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -p$@ -a
	dh_gencontrol -p$@ -a
	dh_md5sums -p$@ -a
	dh_builddeb -p$@ -a
	dh_installdirs

binary: build binary-indep binary-arch

binary-indep: tightdb-java-dev

binary: tightdb-java


.PHONY: binary binary-arch binary-indep clean checkroot build  tightdb-java tightdb-java-dev
