<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.realm.examples.realmmultiprocessaexample"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="io.realm.examples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".AnotherProcessService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>
    </application>

    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
