<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.realm.tests.sync">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <service
            android:name=".service.SendOneCommit"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>
        <service
            android:name=".service.SendsALot"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>
    </application>

</manifest>
