<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.realm.objectserver">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".SyncApplication"
        android:label="Object Server Integration Tests">
        <service
            android:name="io.realm.objectserver.service.SendOneCommit"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>
        <service
            android:name="io.realm.objectserver.service.SendsALot"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>
    </application>

</manifest>
